/*
- Margenes elementos tabla
*/
th,
td {
  padding-left: 5px;
  padding-right: 20px;
}

/*
- Color de fondo de los titulos
- Color texto titulos
*/
th {
  background-color: #2e2e2e;
  color: #ccffcc;
}

/*
- Color fondo elementos tabla
*/
td {
  background-color: #ccffcc;
}

/*
- Cambio de color elementos tabla intercalados (impares)
*/
tr:nth-child(odd) td {
  background-color: #99cc99;
}

/*
- Color tabla (genera un borde azul)
*/
table {
  background-color: #96d4d4;
}
